<ion-header>
  <ion-toolbar>
    <ion-title>
      GeoDate
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input>
    <ion-label>Estados</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option>Acre</ion-select-option>
      <ion-select-option>Paraná</ion-select-option>
      <ion-select-option>Rio de Janeiro</ion-select-option>
      <ion-select-option>Rio Grande do Sul</ion-select-option>
      <ion-button href="estados">Entrar</ion-button>
    </ion-select>
  </ion-input>
</ion-content>
